In [36]:
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import pandas as pd
import csv

In [22]:
my_url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'
uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()
page_soup = soup(page_html,'html.parser')
cities = page_soup.find_all("table",class_="wikitable sortable")
cities = cities[0].find_all('tbody')[0]
cities = cities.find_all('tr')[1:]

In [3]:
def us_cities():
    us_cities = pd.DataFrame(columns = ['Name','Population_2018','Land_area','Location'])
    
    for i in cities:
        
        rank,city,state,popu2018,popu2010,change,la1,la2,pd1,pd2,location = i.find_all('td')
        # choose city_name, population in 2018, land area and location of the cities
        city = city.find_all('a',href=True)[0]['title']
        popu2018 = popu2018.contents[0]
        la2 = la2.contents[0]
        location = location.find_all('span',class_='geo-dec')[0].contents[0]
        row = {"Name":city,"Population_2018":popu2018,"Land_area":la2,"Location":location}
        us_cities.loc[us_cities.shape[0]+1] = row
    return us_cities

In [4]:
us_cities_df = us_cities()
us_cities_df

,Name,Population_2018,Land_area,Location
1,New York City,"8,398,748",780.9 km,40.6635°N 73.9387°W
2,Los Angeles,"3,990,456","1,213.9 km",34.0194°N 118.4108°W
3,Chicago,"2,705,994",588.7 km,41.8376°N 87.6818°W
4,Houston,"2,325,502","1,651.1 km",29.7866°N 95.3909°W
5,"Phoenix, Arizona","1,660,272","1,340.6 km",33.5722°N 112.0901°W
6,Philadelphia,"1,584,138",347.6 km,40.0094°N 75.1333°W
7,San Antonio,"1,532,233","1,194.0 km",29.4724°N 98.5251°W
8,San Diego,"1,425,976",842.3 km,32.8153°N 117.1350°W
9,Dallas,"1,345,047",882.9 km,32.7933°N 96.7665°W
10,"San Jose, California","1,030,119",459.7 km,37.2967°N 121.8189°W
11,"Austin, Texas","964,254",809.9 km,30.3039°N 97.7544°W
12,"Jacksonville, Florida","903,889","1,935.8 km",30.3369°N 81.6616°W
13,"Fort Worth, Texas","895,008",888.1 km,32.7815°N 97.3467°W
14,"Columbus, Ohio","892,533",565.9 km,39.9852°N 82.9848°W
15,San Francisco,"883,305",121.5 km,37.7272°N 123.0322°W
16,"Charlotte, North Carolina","872,498",791.0 km,35.2078°N 80.8310°W
17,Indianapolis,"867,125",936.3 km,39.7767°N 86.1459°W
18,Seattle,"744,955",217.0 km,47.6205°N 122.3509°W
19,Denver,"716,492",397.0 km,39.7619°N 104.8811°W
20,"Washington, D.C.","702,455",158.2 km,38.9041°N 77.0172°W
21,Boston,"694,583",125.1 km,42.3320°N 71.0202°W
22,"El Paso, Texas","682,669",665.1 km,31.8484°N 106.4270°W
23,Detroit,"672,662",359.5 km,42.3830°N 83.1022°W
24,"Nashville, Tennessee","669,053","1,232.6 km",36.1718°N 86.7850°W
25,"Portland, Oregon","653,115",345.8 km,45.5370°N 122.6500°W
26,"Memphis, Tennessee","650,618",822.1 km,35.1028°N 89.9774°W
27,Oklahoma City,"649,021","1,570.3 km",35.4671°N 97.5137°W
28,Las Vegas,"644,644",348.1 km,36.2292°N 115.2601°W
29,"Louisville, Kentucky","620,118",682.5 km,38.1654°N 85.6474°W
30,Baltimore,"602,495",209.5 km,39.3000°N 76.6105°W
...,...,...,...,...
285,"Greeley, Colorado","107,348",123.8 km,40.4153°N 104.7697°W
286,"Daly City, California","107,008",19.7 km,37.7009°N 122.4650°W
287,"Meridian, Idaho","106,804",77.2 km,43.6142°N 116.3989°W
288,"Lewisville, Texas","106,586",95.1 km,33.0466°N 96.9818°W
289,"Davie, Florida","106,558",90.4 km,26.0791°N 80.2850°W
290,"West Covina, California","106,311",41.4 km,34.0559°N 117.9099°W
291,"League City, Texas","106,244",132.6 km,29.4901°N 95.1091°W
292,"Tyler, Texas","105,729",146.6 km,32.3173°N 95.3059°W
293,"Norwalk, California","105,120",25.1 km,33.9076°N 118.0835°W
294,"San Mateo, California","105,025",31.3 km,37.5603°N 122.3106°W
295,"Green Bay, Wisconsin","104,879",117.6 km,44.5207°N 87.9842°W
296,"Wichita Falls, Texas","104,576",187.0 km,33.9067°N 98.5259°W
297,"Sparks, Nevada","104,246",93.0 km,39.5544°N 119.7356°W
298,"Lakewood Township, New Jersey","104,157",64.0 km,40.0771°N 74.2004°W
299,"Burbank, California","103,695",45.1 km,34.1901°N 118.3264°W
300,"Rialto, California","103,440",57.8 km,34.1118°N 117.3883°W
301,"Allen, Texas","103,383",70.2 km,33.0997°N 96.6631°W
302,"El Cajon, California","103,241",37.6 km,32.8017°N 116.9604°W
303,"Las Cruces, New Mexico","102,926",199.2 km,32.3264°N 106.7897°W
304,"Renton, Washington","102,153",60.6 km,47.4761°N 122.1920°W
305,"Davenport, Iowa","102,085",162.9 km,41.5541°N 90.6040°W
306,"South Bend, Indiana","101,860",107.2 km,41.6769°N 86.2690°W
307,"Vista, California","101,224",48.4 km,33.1895°N 117.2386°W
308,"Tuscaloosa, Alabama","101,113",185.7 km,33.2065°N 87.5346°W
309,"Clinton Township, Macomb County, Michigan","100,800",72.8 km,42.5903°N 82.9170°W
310,"Edison, New Jersey","100,693",78.0 km,40.5040°N 74.3494°W
311,"Woodbridge Township, New Jersey","100,450",60.3 km,40.5607°N 74.2927°W
312,"San Angelo, Texas","100,215",155.1 km,31.4411°N 100.4505°W
313,"Kenosha, Wisconsin","100,164",72.5 km,42.5822°N 87.8456°W
314,"Vacaville, California","100,154",75.1 km,38.3539°N 121.9728°W

In [5]:
# to csv
us_cities_df.to_csv('us_cities.csv')